@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  font-family: "Fira Code", monospace;
  font-size: 16px;
  font-weight: 400;
  color: #8F8F8F;
}
body {
  background-color: #303030;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 32px;
  text-decoration: none;
}

h2 {
  font-size: 20px;
  text-decoration: none;
  margin: 40px 0 20px;
}
header li {
  display: inline-block;
  margin: 0 5px;
}
.container {
  width: 1270px;
  max-width: 100%;
  margin: 0 auto;
}
.navBar {
  background-color: #373738;
  color: #8F8F8F;
  padding-left: 20px;
  padding-right: 20px;
}

.inputLabel {
  display: block;
}
.btn {
  margin: 20px 10px 15px 0;
  background-color: #252247;
  color: #fafafa;
  border: 1.5px solid #fafafa;
  border-radius: 3px;
  padding: 3px 8px;
}
.btn:hover {
  cursor: pointer;
  background-color: #8ec1ef;
}

.hidden {
  display: none;
}

.loginContainer {
  background-color: #023557;
  margin: auto;
  margin-top: 10%;
  height: 60%;
  width: 40%;
}

.loginModal {
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
}

.loginForm {
  padding: 30px;
  padding-left: 30%;
}

.formColumn {
  display: block;
}